<!-- author ben lawson (balawson@bu.edu) -->
<head>
    <title>Upload a photo!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <style type="text/css">
    body{
      background-color: #060606;
    }
    </style>
</head>
<body>
 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">PhotoShare</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li><a href="/profile">Profile</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Add<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/friend">Add Friend</a></li>
            <li><a href="/upload">Edit Albums</a></li>
            <li><a href="/register">Register</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search" method="post" action="{{ url_for('search_tags') }}">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search by Tags" name="words">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
      <form class="navbar-form navbar-left" role="search" method="post" action="{{ url_for('tags_recom') }}">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Related Tags" name="tags">
        </div>
        <button type="submit" class="btn btn-default">Recommend</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout">Log out</a></li>
        <li><a href="/login">Log in</a></li>
      </ul>
    </div>
  </div>
</nav>

<blockquote>
    {% if messages %}
        {% for messages in messages%}
            <p tyle="color: #95a5a6">{{ messages }}</p>
        {% endfor %}
    {% endif %}
</blockquote>

{% if num %}
<div class="list-group">
  <p class="list-group-item active" style="background-color: #9933cc; border-color: #6e2caf;">
    You have {{ num }} albums
  </p>
  {% for ap in list %}
  <a href="{{ url_for('expand_album', aid=ap[2], aname=ap[0]) }}" class="list-group-item" style="background-color: #222222; border: 1px solid #222222;">
  name: {{ ap[0] }}, date created: {{ ap[1] }}
  </a>
  {% endfor %}
</div>
{% endif %}

<form class="form-horizontal" method="post" enctype="multipart/form-data" action="/upload">
  <fieldset>
    <legend style="color:#fff;">Select photo</legend>
    <div class="form-group">
      <label for="photo" class="col-lg-2 control-label">Photo</label>
      <div class="col-lg-10">
        <input type="file" class="form-control" name="photo">
      </div>
    </div>
    <div class="form-group">
      <label for="caption" class="col-lg-2 control-label">Caption</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" name="caption" placeholder="Caption">
      </div>
    </div>
    <div class="form-group">
      <label for="albumName" class="col-lg-2 control-label">Album Name</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" name="albumName" placeholder="Album">
      </div>
    </div>
    <div class="form-group">
      <label for="tag" class="col-lg-2 control-label">Tags</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" name="tag" placeholder="Tags">
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </div>
  </fieldset>
</form>


<form class="form-horizontal" method="post" action="/upload/add_albums">
  <fieldset>
    <legend style="color:#fff;">Add Albums</legend>
    <div class="form-group">
      <label for="albumName" class="col-lg-2 control-label">Album name</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" name="albumName" placeholder="Album name">
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </div>
  </fieldset>
</form>

<form class="form-horizontal" method="post" action="/upload/delete_albums">
  <fieldset>
    <legend style="color:#fff;">Delete Albums</legend>
    <div class="form-group">
      <label for="albumName" class="col-lg-2 control-label">Album name</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" name="albumName" placeholder="Album name">
      </div>
    </div>
    <div class="form-group">
      <label for="cdate" class="col-lg-2 control-label">Date created</label>
      <div class="col-lg-10">
        <input type="date" class="form-control" name="cdate">
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </fieldset>
</form>
</body>
<!--
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
    <body>
        {% if num %}
         <h4> you have {{ num }} albums:</h4>
            <ul>
            {% for album in list %}
                <li>name: {{ album[0] }}, date created: {{ album[1] }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        <div class="title">
            <h1>Upload a photo to Photoshare</h1>
        </div>
            <form method="post" enctype="multipart/form-data" action="/upload">
                <label for="photo">Select photo:</label>
                <input type="file" name="photo" required='true' /><br />
                <label for="caption">Please enter caption:</label>
                <input type="text" name="caption" required='true' /><br />
                <label for="albumName">Please enter album name:</label>
                <input type="text" name="albumName" required='true' /><br />
                <label for="tag">Please enter a tag(please spereate each tags with # no space):</label>
                <input type="text" name="tag" required='true' /><br />
                <input type="submit" value="Upload" />
            </form>
        <div class="title">
            <h1>Create an album</h1>
        </div>
            <form method="post" action="/upload/add_albums">
                <label for="albumName">Please enter album name:</label>
                <input type="text" name="albumName" required='true' /><br />
                <input type="submit" value="Create" />
            </form>

        <div class="title">
            <h1>Enter name to delete your albums and photos associated with it</h1>
        </div>
            <form method="post" action="/upload/delete_albums">
                <label for="albumName">Please enter album name:</label>
                <input type="text" name="albumName" required='true' /><br />
                 <label for="cdate">Please enter date created:</label>
                <input type="date" name="cdate" required='true' /><br />
                <input type="submit" value="Delete" />
            </form>


        <a href='/'>Home</a>
    </body>
-->